.container {
  max-width: 280px;
  background-color: var(--color-element);
  box-shadow: rgba(0, 0, 0, 0.459) 0px 7px 29px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flagPhoto {
  max-width: 280px;
}
.infoContainer {
  padding: 20px 30px 50px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.title {
  margin-bottom: 10px;
}
.aboutText {
  font-size: clamp(8px, 5vw, 14px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--color-background);
  padding-bottom: 5px;

  &:last-of-type {
    border-bottom: none;
  }
}

.aboutSpan {
  margin-right: 10px;
}
