.container {
  margin: 0 auto;
  padding: 0 200px;
  background-color: var(--color-background);
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 100px;
}

.linearBar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
