.container {
  margin: 0 auto;
  padding: 0 50px;
  background-color: var(--color-background);
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  gap: 100px;
}
