.selectFilter {
  background-color: var(--color-element);
  border: none;
  padding: 10px;
  border-radius: 16px;
  cursor: pointer;
  font-size: clamp(8px, 5vw, 20px);
  &:focus {
    outline: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
