.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: absolute;
  animation: 1200ms slowly ease;
}

@keyframes slowly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-decoration: none;
  border-radius: 10px;
  padding: 15px 30px;
  color: white !important;
  font-size: clamp(8px, 5vw, 16px);
  font-weight: bold;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
  }
}
